
.picture{
	display:flex;
	justify-content:center;
	align-items:center;
}

#glasses{
	position: absolute;
  	z-index: 1;
  	top: 34%;
    left: auto;
}

#hat{
	position: absolute;
 	z-index: 2;
  	top: 4%;
    left: auto;
}

#octopus{
  margin-top: 80px;
}